@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.headerlabel h5 {
    padding: 10px !important;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px !important;
    font-weight: 800;

}

.header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .header {
        justify-content: space-between;
    }

    .header-icons {
        margin-right: 0px;
    }

    .header-icons {
        margin-left: 0px;
    }

    span {
        visibility: hidden;
    }
}

.menu-button .bar-icon {
    font-size: 35px;
}

span {
    vertical-align: super;
    font-weight: 800;
    margin-left: 5px;
}

.menu-button {
    background-color: transparent !important;
    color: black !important;
    border: none !important;
    margin-left: 50px !important;
}

.header-icons {
    font-size: 25px;
    margin: 20px 50px 0px 0px
}

.header-icons a,
i {
    color: black;
    text-decoration: none;
}

.bar-icon {
    font-size: 30px;
    display: inline-block;
}

@media (max-width:500px) {
    .header-icons {
        font-size: 16px;
        margin: 20px 0px 0px 0px;
        vertical-align: text-top;
    }

    .menu-button {
        margin-left: 0px !important;
    }

    .bar-icon {
        font-size: 20px !important;
        vertical-align: middle;
    }

    #main-logo {
        width: 115px;
        height: 25px;
    }

}

.offcanvas-title {
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.offcanvas-body {
    padding: 0 !important;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.menu-items {
    background-color: #EDEDED !important;
    margin-top: 2px;
    padding: 7px 32px;
    text-decoration: none;
    color: black;
}

.menu-items:hover {
    background-color: #d8d5d5 !important;
    color: black;
}

.form-select {
    border: none !important;
    background-color: #EDEDED !important;

}

.form-select:hover {
    background-color: #d8d5d5 !important;
    border: none !important;
}

#collection-dropdown:focus{
    border: none !important;
}

#collection-dropdown {
    padding: 0px 40px 0px 20px !important;
}

.menu-button-dropdown {
    background-color: transparent !important;
    color: black !important;
    border: none !important;
    margin: 10px 0px 0px 20px !important;
}

.help-menu {
    display: flex;
    margin: 100px 0px 0px 30px;

}

.help-menu-icons {
    font-size: 20px;
    cursor: pointer;
}

#whatsapp-icon {
    color: rgb(32, 179, 32);
}

.menu-drawer {
    display: flex;
    justify-content: space-around;
    background-color: #EDEDED;
    text-align: center;
    padding: 35px;
    margin-top: 20px;
}

.drawer-icons {
    font-size: 30px;
    cursor: pointer;
}

.breadcrum-wrapper {
    width: 100%;
}

.breadcrum {
    max-width: 88%;
    margin: 0px 65px;
}

.breadcrum-list {
    margin: 0px 70px;
}

.card {
    border: none !important;
}

.card-title {
    font-size: 17px;
    font-weight: 800;
    color: #4f4f4f;
    cursor: pointer;
}

.card-body a {
    text-decoration: underline;
    color: black;

}

.card-body a:hover {
    color: black;
    font-weight: 800;
}

.product-section {
    padding: 0px 130px;
    display: flex;
}

.left-side {
    flex-basis: 20%;
}

.right-side {
    flex-basis: 80%;
}

@media (max-width:790px){
    .product-section {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }

    .right-side{
        margin-top: 20px;
    }
}

.footer-container {
    background-color: #F6F6F6;
    text-align: center;
    padding: 80px 30px;
    margin-top: 40px;
    width: auto;
}

.footer-container .first-row,
.footer-container .second-row {
    display: inline-block;
}

.footer-container .first-row a {
    font-family: sans-serif;
    text-align: none;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #a3a2a2;
    text-decoration: none;
    border-right: 1px solid #a3a2a2;
}

.footer-container .second-row a {
    font-family: sans-serif;
    margin-top: 10px;
    text-align: none;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #a3a2a2;
    text-decoration: none;
    border-right: 1px solid #a3a2a2;
}

.first-row a:hover {
    color: black;
    text-decoration: underline;
}

#menu-bottom a:hover {
    color: black;
    text-decoration: underline;
}

@media (max-width: 500px) {

    .footer-container .first-row,
    .footer-container .second-row {
        display: grid;
    }

    .second-row a {
        margin-top: 0;
    }

}

.social-icons-footer {
    margin-top: 20px;
}

.social-icons-footer i {
    font-size: 25px;
    margin-left: 15px;
    color: black;
}

.footer-label p {
    padding: 13px 0px !important;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 0%;
}